{% extends 'base.html' %}


{% block content %}
<div class="container-fluid" id="one">
    <h4 class="animated bounceInUp text-center">BLOG POST,<br>This most beautiful system of the sun, planets and comets, could only proceed from the counsel and dominion of an intelligent and powerful Being.</h4>
</div>
<br>
<div class="continer">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            </di<div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.rescue-uk.org/sites/default/files/styles/window_width_breakpoints_theme_rescue_large_2x/public/article/1476/teaser/c63ms_4woaazass.jpg?itok=ivfu81Qn&timestamp=1500911805" alt="Card image cap">
            <div class="card-body">
                <figcaption>
                    <h5 class="card-title fa-quote-right">-Albert Einstein</h5>
                </figcaption>
                <p class="card-text blockquote">Everybody is a genius,But if you judge a fish by its ability to climb a
                    tree it will leave all it's life believing it is stupid</p>
                <a href="" class="btn btn-sm btn btn-outline-info">more</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            </di<div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://i.ytimg.com/vi/ZrBQmIDdls4/maxresdefault.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{quote.author}}</h5>
                <small><h6><b>Random quotes</b></h6></small>
                <p class="card-text">{{quote.quote}}</p>
                <a href="{{quote.permalink}}" class="btn btn-sm btn-outline-info">more info</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            </di<div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.battlefields.org/sites/default/files/styles/facebook/public/thumbnails/image/Abraham%20Lincoln%20CIC%20Square.jpg?itok=Od9XGRzG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Abraham Lincolin</h5>
                <p class="card-text">“Let not him who is houseless pull down the house of another, but let him work diligently and build one for himself, thus by example assuring that his own shall be safe from violence when built.”

                        .</p>
                <a href='http://www.quoteambition.com/famous-abraham-lincoln-quotes/' class="btn btn-outline-info btn-sm">more info</a>
            </div>
        </div>
    </div>
</div>
<hr>

{% endblock %}